---
layout: false
---

!!! 5
%html
  %head
    %meta{charset: 'UTF-8'}
    %meta{name: 'viewport', content: 'initial-scale=1.0,user-scalable=no'}
    %title Yo Counter Button
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat:700,400'
    :scss
      // Color Settings
      $yo-brand-color: #9B59B6;
      $border-color: darken($yo-brand-color, 5%);
      $text-color: #000000;

      // Reset Styles
      * {
        border-radius: 2px;
        box-sizing: border-box;
        color: $text-color;
        font-family: 'Montserrat', arial, sans-serif;
        font-size: 14px;
        line-height: 1;
        margin: 0;
        overflow: hidden;
        padding: 0;
        text-decoration: none;
        white-space: nowrap;
      }
      #wrapper {
        background: #ffffff;
        border: 1px solid $border-color;
        height: 20px;
        padding: 2px;
        transition: background-color 0.25s ease-in, border-color 0.25s ease-in;
      }
      #wrapper:hover {
        background-color: darken(lighten($border-color, 100%), 5%);
        border-color: darken($border-color, 10%);
      }
      #icon {
        background: $yo-brand-color;
        border: 1px solid darken($yo-brand-color, 5%);
        float: left;
        height: 14px;
        width: 14px;
      }
      #content {
        margin-left: 18px;
        text-align: center;

        #hashtag::before {
          content: '#';
        }
        #count {
          display: none;
        }
        #count::before {
          content: ' (';
        }
        #count::after {
          content: ')';
        }
      }
    :javascript
      // get hashtag by query string
      var hashtag = new RegExp('h=([A-Z_-]+)').exec(window.location.href)[1];

      // shortcut for document.getElementById
      $ = function(id){
        return(document.getElementById(id.substring(0, 1) === '#' ? id.substring(1) : id));
      };

      // embed result from JSONP
      _callback = function(data){
        var count = data.result;
        if(!count){
          count = '?';
        }
        else if(count >= 9950){
          count = Math.round(count / 1000) + 'K';
        }
        else if(count >= 1000){
          count = (Math.round(count / 100) / 10) + 'K';
        }
        $('#count').innerHTML = count;
        $('#count').style.display = 'inline';
      };

      // initialize
      window.onload = function(){
        $('#hashtag').innerHTML = hashtag;
        $('#link').setAttribute('href', 'http://justyo.co/h/' + hashtag);
        var script = document.createElement('script');
        script.setAttribute('type', 'text/javascript');
        script.setAttribute('src', 'http://api.justyo.co/yo_count/?hashtag=' + hashtag + '&jsonp=_callback');
        (document.head || document.getElementsByTagName('head')[0]).appendChild(script);
      }
  %body
    %a#link{target: '_blank'}
      #wrapper
        #icon
        #content
          %span#hashtag
          %span#count
