%h1 Samples
%h2 Do you love cookies?
%p
  %iframe{src: '/buttons/button.html?h=ILOVECOOKIES', style: 'width: 200px; height: 20px; border: 0;', frameborder: 0, scrolling: 'no'}
-#%h2 Which do you like better?
-#%p
-#  %iframe{src: '/buttons/button.html?h=ILOVEDOGS', style: 'width: 170px; height: 20px; border: 0;', frameborder: 0, scrolling: 'no'}
-#  %iframe{src: '/buttons/button.html?h=ILOVECATS', style: 'width: 170px; height: 20px; border: 0;', frameborder: 0, scrolling: 'no'}
-#%h2 Do you love Yo?
-#%p
-#  %iframe{src: '/buttons/button.html?h=ILOVEYO', style: 'width: 150px; height: 20px; border: 0;', frameborder: 0, scrolling: 'no'}
-#  %iframe{src: '/buttons/button.html?h=ILOVEYO', style: 'width: 150px; height: 20px; border: 0;', frameborder: 0, scrolling: 'no'}
